{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Main menu{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="{{ path('index') }}">Home page</a>
{% endblock %}

{% block main %}
    <table class="datagrid">
        <thead>
        <tr>
            <td>Some Column</td>
            <td>Another Column</td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>asdasd</td>
                <td>sdfsdfsf</td>
            </tr>
        </tbody>
    </table>
{% endblock %}